$font-stack: 'Roboto', sans-serif;
$font-stack-s: 'Montserrat', sans-serif;
$light-color: #f4f4f4;
$primary-color: #036ffc;
$primary-2: rgb(37, 12, 57);
$secondary-color: #03041c;
$primary-light: (lighten($primary-color, 40%));
$battle-color: rgb(214, 237, 229);

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return (lighten(#000, 10%));
  } @else {
    @return $light-color;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
