@import 'utilities';
@import 'variables';
@import 'nav';
@import 'landingPage';
@import 'card';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $light-color;
}
